language: python
# python:
#   - "2.6"
#   - "2.7"
#   - "3.2"
#   - "3.3"
#   - "3.4"
#   - "3.5"
env:
  - DJANGO=1.8
  - DJANGO=1.9
  - DJANGO=master
# command to install dependencies
install: "pip install ."
# command to run tests
script: nosetests
